.contato-section {
  text-align: center;
  padding: 50px 20px;
}

.subtitulo {
  max-width: 500px;
  margin: 0 auto 40px;
  color: #444;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}card {
  background: white;
  width: 230px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 6px #00000022;
  text-align: center;
}

.icon {
  font-size: 40px;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #3f31b2;
}

.card p {
  margin: 5px 0;
  font-weight: bold;
}