.fullScreenCenter {
    min-height: 100vh;
    background-color: #1A1C30; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.cardPrincipal {
    width: 300px;
    padding: 20px;
    background-color: #3A2A6E; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0; 
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}
.logoC {
    font-size: 24px;
    font-weight: bold;
    background-color: #5B4887;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.nomeHub {
    font-size: 16px;
    font-weight: 500;
}

.formContent {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}


.inputPadrao {
    width: 100%;
    padding: 10px;    
    background-color: white; 
    color: black; 
    margin-bottom: 0; 
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.botaoEntrar {
    width: 100%;
    padding: 10px;
    
    background-color: #FF6B00; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
.link-criar-conta, .link-ja-registrado {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.linkJaRegistrado {
    
    color: #FF6B00; 
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
.title-register {
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}
